{% extends "administrator.html" %}

{% block content %}

<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">添加学期</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

                  <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="addTerm()">添加学期</button>
                  </div>
              </div>
          </div>

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">学期列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped" id="table1">
              <thead>
                              <tr>
                    <th>#</th>
                  <th>学期名</th>
                  <th>起止日期</th>
                  <th >状态</th>
                    <th >操作</th>
                </tr>
              </thead>
              <tbody>
               {% for term in res %}
                      <th> {{ forloop.counter }}</th>
                    <th> {{ term.term.name }}</th>

                    <th> {{ term.term.start_date }} - {{ term.term.end_date }}</th>
                      {% if term.isrun %}
                        <th style="color: #00ff66">进行中</th>
                    {% else %}
                        <th style="color: #ff6600">已结束</th>
                    {% endif %}
                    <th>
                    <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="checkTerm({{ term.term.id  }})">查看</button>
                            <button type="button" class="btn btn-danger" onclick="delete_term({{ term.term.id  }})">删除</button>
                        </div>
                        </th>
                </tr>
               {% endfor %}
              </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
$(function () {
    set_table("table1");
  });
    function checkTerm(termId){
        self.location.href="/administrator/term/termInfo/"+termId;
    }

    function addTerm(){
        self.location.href="/administrator/term/addTerm/";
    }

function delete_term(termId){
        if(confirm("真的要删除这个学期信息吗？删除后无法撤销。")){
                    $.ajax({
            type: "POST",
            url: "/administrator/term/delete_term/",
            data:{
                't_id':termId
            },
            dataType: "json",
            success: function(response){
                if(response.error_info=="success"){
                    location.reload(true);
                }else{
                    alert("删除失败");
                }
            }
        });
        }

    }
</script>
{% endblock %}



