{% extends "administrator.html" %}

{% block content %}
    <script src="/static/plugins/jQuery-form/jquery.form.min.js"></script>
<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">添加课程</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

                  <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="add_course()">添加课程</button>
                      <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal"  >批量导入</button>
                  </div>
              </div>
          </div>

<!-- .modal -->
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">批量导入</h4>
			</div>
			<div class="modal-body">
				<form enctype="multipart/form-data"  class="form-horizontal" id="form1" style="padding-left: 15%" method="post" action="/administrator/course/add_course_many/">
                        <input type="hidden" name="term_id"  id="term_id" value="">
                        <div class="form-group">
                          <select class="form-control" id="term_select">
                              {% for t in terms %}
                                  <option value="{{ t.id }}">{{ t.name }}</option>
                              {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-default" target="_blank"  href="/media/csv/course_info.csv">下载课程信息批量导入模板</a>
                        </div>
                        <div class="form-group">
                            <input type="file" id="infolist" name="infolist">
                         </div>
                </form>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal" onclick="add_course_info()" >导入</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



    <div class="modal" id="mymodal2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">批量导入</h4>
			</div>
			<div class="modal-body">
                <div class="box">
            <div class="box-header">
              <h3 class="box-title">出错的行</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped" id="error_list_table">
                <tr>
                    <th>课程名</th>
                    <th>课程介绍</th>
                    <th>教师名</th>
                    <th>学生名</th>
                    <th>起始日期</th>
                    <th >结束日期</th>
                    <th >是否是团体课</th>
                </tr>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal" onclick="javascript:location.reload(true)">关闭</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



    <div class="box">
            <div class="box-header">
              <h3 class="box-title">课程列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped" id="table1">
              <thead>
                <tr>
                    <th>#</th>
                    <th>课程名</th>
                    <th>起止日期</th>
                    <th>课程类型</th>
                    <th>开课状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                  {% for course in res %}
                      <th> {{ forloop.counter }}</th>
                    <th> {{ course.course.name }}</th>

                    <th> {{ course.course.start_date }} - {{ course.course.end_date }}</th>
                    <th> {% if course.course.is_single %}
                        普通课程
                    {% else %}
                        团队课程
                    {% endif %}</th>
                      {% if course.isrun %}
                        <th style="color: #00ff66">开课中</th>
                    {% else %}
                        <th style="color: #ff6600">关闭</th>
                    {% endif %}
                    <th>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="checkCourse({{ course.course.id }})">查看</button>
                            <button type="button" class="btn btn-danger" onclick="delete_course({{ course.course.id }})">删除</button>
                        </div>

                    </th>
                </tr>
                {% endfor %}
              </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
$(function () {
    set_table("table1");
  });


    function checkCourse(courseId){
        self.location.href="/administrator/course/courseInfo/"+courseId;
    }

    function delete_course(courseId){
        if(confirm("真的要删除这门课程吗？删除后无法撤销。")){
                    $.ajax({
            type: "POST",
            url: "/administrator/course/delete_course/",
            data:{
                'c_id':courseId
            },
            dataType: "json",
            success: function(response){
                if(response.error_info=="success"){
                    location.reload(true);
                }else{
                    alert("删除失败");
                }
            }
        });
        }

    }

    function add_course(){
        self.location.href="/administrator/course/addCourse/";
    }

    function add_course_info(){
        $('#term_id').val($('#term_select').val());
        var ajax_option={
            success:function(data) {
                console.log(data);
                var elist = data.error_list;
                $("#mymodal").modal({show:false});
                $("#error_list_table").html('<tr> <th>课程名</th>  <th>课程介绍</th><th>教师名</th><th>起始日期</th> <th>结束日期</th> <th >是否是团体课</th>  </tr>');
                for(row in elist){
                    $("#error_list_table").append("<tr>");
                    $("#error_list_table").append("<th>"+elist[row][0]+"</th>");
                    $("#error_list_table").append("<th>"+elist[row][1]+"</th>");
                    $("#error_list_table").append("<th>"+elist[row][2]+"</th>");
                    $("#error_list_table").append("<th>"+elist[row][3]+"</th>");
                    $("#error_list_table").append("<th>"+elist[row][4]+"</th>");
                    $("#error_list_table").append("<th>"+elist[row][5]+"</th>");
                    $("#error_list_table").append("</tr>");
                }
                $("#mymodal2").modal({show:true});
            }
        };
        $('#form1').ajaxSubmit(ajax_option);
    }
</script>
{% endblock %}



