{% extends "administrator.html" %}

{% block content %}
<div class='btn-group'>
    <button type="button" class="btn btn-primary" onclick="add_student()">添加学生</button>

</div>
    <form enctype="multipart/form-data"  class="form-inline" method="post" action="/administrator/student/add_student_many/">
        <div class="box">
            <div class="box-body no-padding">
                <div class="form-group">
                    <a class="btn btn-default" target="_blank"  href="/media/csv/student_info.csv">下载学生信息批量导入模板</a>
                </div>
                <div class="form-group">
                    <input type="file" id="infolist" name="infolist">
                 </div>
                <button type="submit" class="btn btn-primary">开始批量导入</button>
            </div>

        </div>

    </form>

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">学生列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                    <th >#</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th >操作</th>
                </tr>
                  {% for student in students %}
                      <th> {{ forloop.counter }}</th>
                      <th> {{ student.name }}</th>
                    <th> {{ student.real_name }}</th>
                    <th><button type="button" class="btn btn-block btn-primary" style="max-width:100px" onclick="resetPassword({{ student.id }})">重置密码</button></th>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
    function resetPassword(tId){
        if(confirm('要将该学生密码重置为 123 吗？')){
            self.location.href="/administrator/student/reset_password/"+tId;
        }

    }
    function init(){
        if("{{ is_success }}"=='1'){
            alert("重置成功！");
        }
    }
    function add_student(){
        self.location.href="/administrator/student/add_student/";
    }
init()
</script>
{% endblock %}



