{% extends "administrator.html" %}

{% block content %}
<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">添加教师</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

                  <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="add_teacher()">添加教师</button>
                      <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal"  >批量导入</button>
                  </div>
              </div>
          </div>

<!-- .modal -->
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">批量导入</h4>
			</div>
			<div class="modal-body">
				<form enctype="multipart/form-data"  class="form-horizontal" id="form1" style="padding-left: 15%" method="post" action="/administrator/teacher/add_teacher_many/">
                        <div class="form-group">
                            <a class="btn btn-default" target="_blank"  href="/media/csv/teacher_info.csv">下载教师信息批量导入模板</a>
                        </div>
                        <div class="form-group">
                            <input type="file" id="infolist" name="infolist">
                         </div>
                </form>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal" onclick="javascript:$('#form1').submit()" >导入</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">教师列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                    <th >#</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th >操作</th>
                </tr>
                  {% for teacher in teachers %}
                      <th> {{ forloop.counter }}</th>
                      <th> {{ teacher.name }}</th>
                    <th> {{ teacher.real_name|slice:'15' }}</th>
                    <th>
                                                <div class="btn-group">
                            <button type="button" class="btn btn-primary" onclick="resetPassword({{ teacher.id }})">重置密码</button>
                            <button type="button" class="btn btn-danger" onclick="delete_teacher({{ teacher.id }})">删除</button>
                        </div>
                        </th>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
    function resetPassword(tId){
        if(confirm('要将该用户密码重置为 123 吗？')){
            self.location.href="/administrator/teacher/reset_password/"+tId;
        }

    }
    function init(){
        if("{{ is_success }}"=='1'){
            alert("重置成功！");
        }
    }
    function add_teacher(){
        self.location.href="/administrator/teacher/add_teacher/";
    }
    function delete_teacher(teacherId){
        if(confirm("真的要删除这个教师的账号吗？删除后无法撤销。")){
                    $.ajax({
            type: "POST",
            url: "/administrator/teacher/delete_teacher/",
            data:{
                't_id':teacherId
            },
            dataType: "json",
            success: function(response){
                if(response.error_info=="success"){
                    location.reload(true);
                }else{
                    alert("删除失败");
                }
            }
        });
        }

    }
init()
</script>
{% endblock %}



