{% extends "administrator.html" %}

{% block content %}

<button type="button" class="btn btn-block btn-primary" onclick="addTerm()">添加学期</button>


    <div class="box">
            <div class="box-header">
              <h3 class="box-title">学期列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                  <th>学期名</th>
                  <th>起止日期</th>
                  <th >状态</th>
                    <th >操作</th>
                </tr>
                  {% for term in res %}
                    <th> {{ term.term.name }}</th>

                    <th> {{ term.term.start_date }} - {{ term.term.end_date }}</th>
                      {% if term.isrun %}
                        <th style="color: #00ff66">进行中</th>
                    {% else %}
                        <th style="color: #ff6600">已结束</th>
                    {% endif %}
                    <th><button type="button" class="btn btn-block btn-primary" onclick="checkTerm({{ term.term.id }})">查看</button></th>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
    function checkTerm(termId){
        self.location.href="/administrator/term/termInfo/"+termId;
    }

    function addTerm(){
        self.location.href="/administrator/term/addTerm/";
    }
</script>
{% endblock %}



