{% extends "administrator.html" %}

{% block content %}
<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">添加学生</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

                  <div class="btn-group">
                      <button type="button" class="btn btn-info" onclick="add_student()">添加学生</button>
                      <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal"  >批量导入</button>
                  </div>
              </div>
          </div>

<!-- .modal -->
<div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">批量导入</h4>
			</div>
			<div class="modal-body">
				<form enctype="multipart/form-data"  class="form-horizontal" id="form1" style="padding-left: 15%" method="post" action="/administrator/student/add_student_many/">
                        <div class="form-group">
                            <a class="btn btn-default" target="_blank"  href="/media/csv/student_info.csv">下载学生信息批量导入模板</a>
                        </div>
                        <div class="form-group">
                            <input type="file" id="infolist" name="infolist">
                         </div>
                </form>
			</div>
			<div class="modal-footer">
                <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal" onclick="javascript:$('#form1').submit()" >导入</button>
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div class="box">
            <div class="box-header">
              <h3 class="box-title">学生列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tr>
                    <th >#</th>
                    <th>用户名</th>
                    <th>真实姓名</th>
                    <th >操作</th>
                </tr>
                  {% for student in students %}
                      <th> {{ forloop.counter }}</th>
                      <th> {{ student.name }}</th>
                    <th> {{ student.real_name }}</th>
                    <th><button type="button" class="btn btn-block btn-primary" style="max-width:100px" onclick="resetPassword({{ student.id }})">重置密码</button></th>
                </tr>
                {% endfor %}
              </table>
            </div>
            <!-- /.box-body -->
          </div>

<script>
    function resetPassword(tId){
        if(confirm('要将该学生密码重置为 123 吗？')){
            self.location.href="/administrator/student/reset_password/"+tId;
        }

    }
    function init(){
        if("{{ is_success }}"=='1'){
            alert("重置成功！");
        }
    }
    function add_student(){
        self.location.href="/administrator/student/add_student/";
    }
init()
</script>
{% endblock %}



