{% extends "administrator.html" %}

{% block content %}





<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">课程信息</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" id="form1" action="/administrator/course/saveCourse/">
            <input type="hidden" name="t_id" id="cid" value="{{ course.id }}">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程名</label>
                  <div class="col-sm-10">
                    <label class="control-label">{{ course.name }}</label>
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程简介</label>
                  <div class="col-sm-10">
                      <label class="control-label">{{ course.introduction }}</label>
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程教师</label>
                  <div class="col-sm-10">
                     <label class=" control-label">{{ teacher.name  }}</label>
                  </div>
                </div>
              </div>
                 <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程起止日期</label>
                  <div class="col-sm-10">
                        <label class="control-label">{{ course.start_date }} - {{ course.end_date }}</label>

                  </div>
                </div>
              </div>
                             <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程状态</label>
                  <div class="col-sm-10">
                        <label class="control-label">
                            {% if res.isrun %}
                        <th style="color: #00ff66">开课中</th>
                    {% else %}
                        <th style="color: #ff6600">关闭</th>
                    {% endif %}
                        </label>

                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程所属学期</label>
                  <div class="col-sm-10">
                        <label class="control-label">{{ term.name }}</label>
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">课程类型</label>
                  <div class="col-sm-10">
                     <label  class="control-label"> {% if course.is_single %}
                        普通课程
                    {% else %}
                        团队课程
                    {% endif %}
                    </label>
                </div>
                  </div>
                </div>
              <!-- /.box-body -->

              <!-- /.box-footer -->
            </form>
             <div class="box-footer ">
                 <div class="btn-group">
                     <button type="button" style="max-width:100px"  class="btn btn-primary" onclick="changeCourse({{ course.id }})">修改</button>
                    <button type="button" style="max-width:200px"  class="btn btn-primary" onclick="add_student({{ course.id }})">

                        {% if course.is_single %}
                            选课学生管理
                        {% else %}
                            选课团队管理
                        {% endif %}
                    </button>
                     <a href="/administrator/course/" class="btn btn-default" >返回</a>
                 </div>
</div>
          </div>
<script>



    function changeCourse(courseId){
        self.location.href="/administrator/course/changeCourse/"+courseId;
    }
 function add_student(courseId){
        self.location.href="/administrator/course/student/?cid="+courseId;
    }

</script>

{% endblock %}



