{% extends "main_template.html" %}

{% block content %}
<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">修改密码</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" id="form1" action="/change_password/">
            <input type="hidden" name="t_id" id="cid" value="{{ course.id }}">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">原密码</label>
                  <div class="col-xs-2">
                    <input type="password" class="form-control"name='t_oldpw' id="oldpw" value="">
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">新密码</label>
                  <div class="col-xs-2">
                      <input type="password" class="form-control" name='t_newpw' id="newpw" value="">
                  </div>
                </div>
              </div>
                                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">确认新密码</label>
                  <div class="col-xs-2">
                      <input type="password" class="form-control" id="newpw_confirm" value="">
                  </div>
                </div>
              </div>

            </form>
             <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="changePassword()">保存修改</button>
              </div>
          </div>
<script>
/*
function showMessage(){
    if('{{ is_success }}'=='1'){
        alert("修改密码成功！请重新登录");
        self.location.href="/logout/";
    }else if('{{ is_success }}'=='0'){
        alert("旧密码输入错误");
        $('#oldpw').val('');
        $('#newpw').val('');
    }else{
        $('#oldpw').val('');
        $('#newpw').val('');
    }
}
showMessage();
*/
 function changePassword(){
     if($('#oldpw').val().length<=0 || $('#newpw').val().length<=0) {
         alert("请填写完整");
     }
     else if($('#oldpw').val()==$('#newpw').val()){
         alert("新密码不能与旧密码一样，请重新填写");
     }else if($("#newpw_confirm").val()!=$("#newpw").val()){
         alert("两次输入新密码不一致，请重新填写");
     }
     else{
         $("#form1").submit();
     }
 }
</script>
{% endblock %}



