{% extends "course.html" %}

{% block content %}
    <div>
    <input class="btn bg-olive-active" type="button"  value="发布新资源" onclick="javascrtpt:window.location.href='/course/resource_publish'">
    </div>
    <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                  <th>资源序号</th>
                  <th>资源名称</th>
                    <th>所在目录</th>
                </tr>
                  {% for resource in resources %}
                    <tr href="/resource/">
                        <td>{{ resource.id }}</td>
                        <td><a href="/resource/{{resource.id  }}">{{ resource.name }}</a></td>
                        <td>{{ resource.directory}}</td>
                    </tr>
                  {% endfor %}
           </table>
       </div>
{% endblock %}


