 {% extends "main_template.html" %}
   {% block sidebar %}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <!-- Optionally, you can add icons to the links -->
          <li id="list1">
            <a href="/student/info/"><i class="fa fa-link"></i> <span>我的信息</span></a>
          </li>
          <li id="list2">
            <a href="/student/course/"><i class="fa fa-link"></i> <span>我的课程</span></a>
          </li>
          <li id="list3">
            <a href="/student/group/"><i class="fa fa-link"></i> <span>我的团队</span></a>
          </li>
      </ul>
      <!-- /.sidebar-menu -->
     {% endblock %}