{% extends "student.html" %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <!-- Optionally, you can add icons to the links -->
          <li id="list1">
            <a href="/student/group/applyforcourse/"><i class="fa fa-link"></i> <span>加入课程</span></a>
          </li>
          <li id="list2">
            <a href="changepower/"><i class="fa fa-link"></i> <span>转让权限</span></a>
          </li>
          <li id="list3">
            <a href="teammanage/"><i class="fa fa-link"></i> <span>团队管理</span></a>
          </li>
       <li id="list4">
            <a href="teamruin/"><i class="fa fa-link"></i> <span>解散团队</span></a>
          </li>
      </ul>
      <!-- /.sidebar-menu -->
     {% endblock %}

{% block content %}
 <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>

              <h3 class="box-title">团队信息</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                <dt>团队名</dt><dd>{{group.name}}</dd>
                  <dt>团队最大人数</dt><dd>{{ group.max_number }}</dd>
                  <dt>团队负责人</dt><dd>{{ group_user.real_name }}</dd>
                  <dt>团队现有人数</dt><dd>{{ group.number }}</dd>
                  <dt>团队状态</dt><dd>
                    {% if group.end %}
                        已停止接受组队请求
                    {% else %}
                        可接受组队请求
                    {% endif %}
              </dd>
              </dl>
            </div>
 </div>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">团队成员列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tr>
                    <th>成员昵称</th>
                    <th>成员姓名</th>
                    <th>成员身份</th>
                </tr>
                <tr>
                    <th>{{ group_user.name }}</th>
                    <th>{{ group_user.real_name }}</th>
                    <th>团队负责人</th>
                </tr>
                {% for obj in member_list %}
                    <tr>
                    <th> {{ obj.name }}</th>

                    <th> {{ obj.real_name }}</th>

                    <th>团队成员</th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    {% if uG_len == 0 %}
        <a href="/student/group/join/">加入团队</a>
    {% else %}
        {% if is_allowed  == 0 %}
            审核中。。。
        {% else %}
            你已加入该团队{{ uG_len }}hh{{ is_allowed }}
        {% endif %}
    {% endif %}
{% endblock %}