{% extends "student.html" %}

{% block content %}

    <button type="button" style="max-width:100px" class="btn btn-block btn-primary" onclick="addGroup()">创建团队</button>


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">团队列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <table class="table table-striped" id="table1">
            <thead>
                <tr>
                    <th>团队名</th>
                    <th>上限人数</th>
                    <th>现有人数</th>
                    <th>团队负责人</th>
                    <th>操作</th>
                </tr>
                </thead>
            <tbody>
                {% for obj in uG %}
                    {%  if obj.is_allowed == 1 %}
                        <th> {{ obj.group.name }}</th>
                        <th> {{ obj.group.max_number }}</th>
                        <th>{{ obj.group.number }}</th>
                        <th> {{ obj.group.user.real_name }}</th>
                        <th>
                        <button type="button" class="btn btn-block btn-primary"
                                onclick="checkCourse({{ obj.group_id }})">查看团队详情
                        </button>
                         </th>
                    {% else %}

                    {% endif %}

                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <script>
        function checkCourse(groupId) {
            self.location.href = "/student/group/groupInfo/" + groupId;
        }

        function addGroup() {
            self.location.href = "/student/group/addGroup/";
        }
        $(function () {
    set_table("table1");
  });
    </script>
{% endblock %}

