{% extends "student_course_i.html" %}

{% block content %}

    <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                  <th>资源序号</th>
                  <th>资源名称</th>
                    <th>资源类型</th>
                    <th>上传时间</th>
                    <th>下载链接</th>
                </tr>
                  {% for resourceclass in resourcesclasses %}
                    <tr href="/teacher/resource/">
                        <td>{{ resourceclass.0.id }}</td>
                        <td>{{ resourceclass.0.name }}</td>
                        <td>{{ resourceclass.1.name }}</td>
                        <td>{{ resourceclass.0.submit_time }}</td>
                        <td><a href="/media/{{ resourceclass.0.server_path }}">下载</a> </td>
                    </tr>
                  {% endfor %}
           </table>
       </div>
{% endblock %}


