{% extends "student_group_info.html" %}

          <li id="list1">
            <a href="/student/info/"><i class="fa fa-link"></i> <span>我的信息</span></a>
          </li>
          <li id="list2">
            <a href="/student/course/"><i class="fa fa-link"></i> <span>我的课程</span></a>
          </li>
          <li id="list3">
            <a href="/student/mygroup/"><i class="fa fa-link"></i> <span>我的团队</span></a>
          </li>
       <li id="list4">
            <a href="/student/groups/"><i class="fa fa-link"></i> <span>所有团队</span></a>
          </li>
      </ul>
      <!-- /.sidebar-menu -->
{#     {% endblock %}#}

{% block content %}
    <div class="btn-group">
        {% if group.end %}

            <button type="button" style="max-width:100px" onclick="openORclosegroup({{ group.id }})"
                class="btn  btn-warning">关闭组队
            </button>

            <button type="button" style="max-width:100px" onclick="releasegroup({{ group.id }})"
                class="btn  btn-info">解散团队
            </button>

        {% else %}
            {% if  apply_course_len == 0 %}
                 <button type="button" style="max-width:100px" onclick="releasegroup({{ group.id }})"
                    class="btn  btn-info">解散团队
                </button>
                {% endif %}
                <a href="/student/group/applyforcourse/" class="btn  btn-success">加入课程</a>


        {% endif %}

    </div>

    <div class="box ">
        <div class="box-header with-border">
            <i class="fa fa-text-width"></i>

            <h3 class="box-title">团队信息</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <dl class="dl-horizontal">
                <dt>团队名</dt>
                <dd>{{ group.name }}</dd>
                <dt>团队最大人数</dt>
                <dd>{{ group.max_number }}</dd>
                <dt>团队负责人</dt>
                <dd>{{ group_user.real_name }}</dd>
                <dt>团队现有人数</dt>
                <dd>{{ group.number }}</dd>
                <dt>团队状态</dt>
                <dd>
                    {% if not group.end %}
                        已停止接受组队请求
                    {% else %}
                        可接受组队请求
                    {% endif %}
                </dd>
            </dl>
        </div>
    </div>


    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">团队所选课程</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>课程名</th>
                    <th>上课时间</th>
                    <th>任课教师</th>
                    <!-- <th>是否允许团队选课</th> -->
                    <th>课程简介</th>
                    <th>进入课程</th>
                </tr>
                {% if course_teachers_len > 0  %}
                        {% for course_teacher in course_teachers %}
                            <tr>
                            <th>{{ forloop.counter  }}</th>
                                <th>{{ course_teacher.0.name }}</th>
                                <th>{{ course_teacher.0.start_date }}--{{ course_teacher.0.end_date }}</th>
                                <th>{{ course_teacher.1.real_name }}</th>
                            <!--
                                {% ifequal course_teacher.0.is_single 0 %}
                                    <td><span class="label label-success">允许</span></td>
                                {% endifequal %}
                                {% ifequal course_teacher.0.is_single 1 %}
                                    <td><span class="label label-warning">不允许</span></td>
                                {% endifequal %}
                                -->
                            <th>
                                <a  href="javascript:void(0);" data-placement="bottom" data-toggle="popover" data-content="{{ course_teacher.0.introduction  }}">
                                        {{ course_teacher.0.introduction|slice:'25'  }}...
                                </a>
                            </th>
                                <th><a href="/student/course/{{course_teacher.0.id  }}" class = "btn btn-block btn-primary">查看详情</a></th>
                            </tr>
                        {% endfor %}
                {% else %}
                         <th>无</th>
                        <th>无</th>
                        <th>无</th>
                        <th>无</th>
                        <!-- <th>无</th> -->
                        <th>无</th>
                         <th>无</th>
                {% endif %}
            </table>
        </div>
    </div>


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">团队成员列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-striped">
                <tr>
                    <th>成员昵称</th>
                    <th>成员姓名</th>
                    <th>成员身份</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <th>{{ group_user.name }}</th>
                    <th>{{ group_user.real_name }}</th>
                    <th>团队负责人</th>
                    <th>无</th>
                </tr>
                {% for obj in member_list %}
                    <tr>
                        <th> {{ obj.name }}</th>

                        <th> {{ obj.real_name }}</th>

                        <th>团队成员</th>
                        <th>
                            <button type="button" style="max-width:100px" onclick="authority_translate('{{ group.id }}','{{ obj.id }}')"
                                class="btn  btn-info">转让权限
                             </button>
                        </th>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <!-- /.box-body -->
    </div>


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">申请列表</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body ">
            <table class="table table-striped">
                <tr>
                    <th>申请人昵称</th>
                    <th>申请人姓名</th>
                    <th>操作</th>
                </tr>
                {% if no_member_list_len > 0 %}
                    {% for obj in no_member_list %}
                        <tr>
                            <th> {{ obj.name }}</th>

                            <th> {{ obj.real_name }}</th>

                            <th>
                                <div class="btn-group">
                                    <button type="button" style="max-width:100px" class="btn btn-success"
                                            onclick="accept('{{ group.id }}','{{ obj.id }}')">批准
                                    </button>
                                    <button type="button" style="max-width:100px" class="btn btn-warning"
                                            onclick="reject('{{ group.id }}','{{ obj.id }}')">拒绝
                                    </button>
                                </div>
                            </th>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <th>无</th>
                        <th>无</th>
                        <th>无</th>
                    </tr>
                {% endif %}
            </table>
        </div>
        <!-- /.box-body -->
    </div>


    <script>

        $(function ()
      { $("[data-toggle='popover']").popover();
      });

        function accept(gid, uid) {
            $.post(
                    "/student/groups/handle_application/",
                    {
                        "is_allowed": "1",
                        "group_id": gid,
                        "user_id": uid,
                    },
                    function (data) {
                        if (data == "1") {
                            location.reload(true);
                            alert("您已批准该申请");
                        }
                    }
            );
        }

        function reject(gid, uid) {
            $.post(
                    "/student/groups/handle_application/",
                    {
                        "is_allowed": "2",
                        "group_id": gid,
                        "user_id": uid,
                    },
                    function (data) {
                        if (data == "2") {
                            location.reload(true);
                            alert("您已拒绝该申请");
                        }
                    }
            );
        }
        function openORclosegroup(gid) {
            if(confirm('确定要关闭组队请求么')){
            $.post(
                    "/student/groups/handle_group/",
                    {
                        "group_id": gid,
                        "type": "1"
                    },
                    function (json) {
                        alert(json)
                        location.reload(true)
                    }
            );}
        }
        function releasegroup(gid) {
            if(confirm('确定要解散该队伍么？')){

            $.post(
                    "/student/groups/handle_group/",
                    {
                        "group_id": gid,
                        "type": "2"
                    },
                    function (json) {
                        alert(json)
                        window.location.replace("/student/mygroup/");
                    }
            );
            }
        }
        function  authority_translate(gid,uid) {

            if(confirm('确定要把权限转让给该同学么？')){
                $.post(
                    "/student/groups/authority_translate/",
                    {
                    "group_id":gid,
                    "user_id":uid
                    },
                    function (message) {
                        alert(message)
                        location.reload(true)
                    }
            );
            }

        }
    </script>
{% endblock %}