{% extends "student.html" %}

{% block sidebar %}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <!-- Optionally, you can add icons to the links -->
          <li id="list1">
            <a href="/student/group/applyforcourse/"><i class="fa fa-link"></i> <span>加入课程</span></a>
          </li>
          <li id="list2">
            <a href="changepower/"><i class="fa fa-link"></i> <span>转让权限</span></a>
          </li>
          <li id="list3">
            <a href="teammanage/"><i class="fa fa-link"></i> <span>团队管理</span></a>
          </li>
       <li id="list4">
            <a href="teamruin/"><i class="fa fa-link"></i> <span>解散团队</span></a>
          </li>
      </ul>
      <!-- /.sidebar-menu -->
     {% endblock %}
{% block content %}
    <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                  <th>课程序号</th>
                  <th>课程名</th>
                  <th>上课时间</th>
                  <th>是否允许团体选课</th>
                    <th>课程简介</th>
                </tr>

                  {% for course in courses %}
                    <tr href="/course/">
                        <td>{{ course.id }}</td>
                        <td><a href="/teacher/course/{{course.id  }}">{{ course.name }}</a></td>
                        <td>{{ course.start_date }}--{{ course.end_date }}</td>
                        {% ifequal course.is_single 1 %}
                            <td><span class="label label-success">允许</span></td>
                        {% endifequal %}
                        {% ifequal course.is_single 0 %}
                            <td><span class="label label-primary">不允许</span></td>
                        {% endifequal %}
                        <td>{{ course.introduction }}</td>
                    </tr>
                  {% endfor %}

           </table>
       </div>
    {% if uG_len == 0 %}
        <a href="/student/group/join/">加入团队</a>
    {% else %}
        {% if is_allowed  == 0 %}
            审核中。。。
        {% else %}
            你已加入该团队{{ uG_len }}hh{{ is_allowed }}
        {% endif %}
    {% endif %}
{% endblock %}