{% extends "student.html" %}

{% block content %}

    <div class="center-block" style="display: block; margin-left: 25%;margin-right: 25%">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">创建团队</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" id="form1" action="/student/group/addGroup/">
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">团队名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="g_name" id="name" placeholder="" 请输入团队名称">
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">上限人数</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="max" id="max" placeholder=""
                                   请输入团队所能允许加入人数最大值">
                        </div>
                    </div>
                </div>


                <!-- /.box-body -->

                <!-- /.box-footer -->
            </form>
            <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="saveGroup()">保存</button>
            </div>
        </div>
    </div>

    <script>

        function saveGroup() {

            if ($("#name").val().length <= 0 || $('#max').val().length <= 0) {
                alert("请写入团队名称和团队上限人数！");
            } else if (($('#max').val()) > 130 || ($('#max').val()) < 0) {
                alert("上限人数必须为正整数且不得大于130")
            }
            else {
                $('#form1').submit();
            }
        }
    </script>
{% endblock %}

