{% extends "student_course_i.html" %}
{% block content %}


    <div class="box" style="overflow-x: hidden;min-height: 600px">
     <div class="box-header">
            <h3 class="box-title">作业列表</h3>
        </div>
           <div class="box-body no-padding" style="overflow-x: hidden;min-height: 600px">
            <table class="table table-striped" id="table1">
            <thead>
                <tr>
                  <th>#</th>
                    <th>作业名称</th>
                  <th>作业时间</th>
                    <th>是否团队作业</th>
                    <th>作业要求</th>
                    <th>是否已提交</th>
                    <th>进入作业</th>
                </tr></thead>
            <tbody>
                  {% for task_done in task_dones %}
                    <tr href="/task/">
                        <td>{{ task_done.0.id }}</td>
                        <td>{{ task_done.0.name }}</td>
                        <td>{{ task_done.0.start_date }}--{{ task_done.0.end_date }}</td>
                        {% ifequal task_done.0.is_single 1 %}
                            <td><span class="label label-success">否</span></td>
                        {% endifequal %}
                        {% ifequal task_done.0.is_single 0 %}
                            <td><span class="label label-primary">是</span></td>
                        {% endifequal %}
                        <td>{{ task_done.0.base_requirements }}</td>
                        <td>
                            {% ifequal  task_done.1 0 %}
                                未提交
                                {% else %}
                                已提交
                            {% endifequal %}
                        </td>
                        <td><a href="{{task_done.0.id  }}" class="btn btn-block btn-primary">查看详情</a></td>
                    </tr>
                  {% endfor %}
            </tbody>
           </table>
       </div>
    </div>

    <script>$(function () {
    set_table("table1");
  });
   </script>
{% endblock %}

