{% extends "student_course_i.html" %}

{% block content %}
    <div class="box box-solid">
            <div class="box-header with-border">
              <i class="fa fa-text-width"></i>
              <h3 class="box-title">作业信息</h3>
                <h3 class="hidden" id="url">{{ myurl }}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <dl class="dl-horizontal">
                  <dt>作业名称</dt><dd>{{ taskrequirement.name }}</dd>
                  <dt>作业要求</dt><dd>{{ taskrequirement.base_requirements }}</dd>
                  <dt>课程教师</dt><dd>{{ teacher.name }}</dd>
                  <dt>作业可提交日期</dt><dd>{{ taskrequirement.start_date }} - {{ taskrequirement.end_date }}</dd>
                  {% if allow_upload %}
                  <dt>提交作业</dt>
                      <dd>
                      <button type="button" class="btn btn-info"  data-toggle="modal" data-target="#mymodal"  >上传作业</button>

                     </dd>
                  <dt>填写答案</dt>
                  <dd>
{#                      <a href="content">网页填写</a>#}
                     <button type="button" class="btn btn-success" title="在线填写" data-html="true"
                          data-container="body" data-toggle="popover" data-placement="bottom"
                          data-content='<div><textarea id="answer" style="width: 250px; height: 300px"></textarea></div>
                          <button id="submitbutton" onclick="submit()">提交</button>'>
                          在线填写
                     </button>
                  </dd>
                  {% endif %}
              </dl>

    <div class="modal" id="mymodal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">上传作业</h4>
			</div>
			<div class="modal-body">
                <form method = "post" class="form-horizontal" enctype="multipart/form-data" >
                <div class="box-body">
                    <div class="form-group">
                    <label  class="col-sm-2 control-label">作业描述</label>
                    <div class="col-sm-10">
                        {{ uf.Description }}
                    </div>
                </div>
              </div>

                <div class="box-body">
                    <div class="form-group">
                    <label class="col-sm-2 control-label">选择文件</label>
                    <div class="col-sm-10">
                        {{ uf.File }}
                    </div>
                </div>
              </div>
                <div class="box-footer">
                   <button type="submit" class="btn btn-primary">上传</button>
                    <button type="button" class="btn btn-default"  data-dismiss="modal" onclick="javascript:location.reload(true)">关闭</button>
              </div>
        </form>
			</div>

		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


    <script>
        $(function ()
      {
          $("[data-toggle='popover']").popover();
      });
        function submit(){
            if($('#answer').val().length<=0) {
                               alert("请填写内容！");
            }
            else {
                $.ajax(
                        {
                            url: $('#url').val()+"submit/",
                            type: "POST",
                            data: {
                                "content": $("#answer").val(),
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data == true) {
                                    alert("上传成功!");
                                    window.location.reload();
                                }
                                else {
                                    alert("上传失败!");
                                }
                            },
                            error: function () {
                                alert("上传失败");
                            }
                        });

                $("[data-toggle='popover']").popover("hide");
            }
        };

         $(function () {
        $("button[value='remove']").bind('click', function () {
                $.ajax(
                        {
                            url: "/student/course/homework/taskfiledelete/",
                            type: "POST",
                            data: {
                                "taskfileid": $(this).attr("id"),
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data == true) {
                                    alert("删除成功!");
                                    window.location.reload();
                                }
                                else {
                                    alert("删除失败!");
                                }
                            },
                            error: function () {
                                alert("删除失败");
                            }
                        });
        });
        });
   </script>
          </div>


    <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                    <th>作业名称</th>
                    <th>提交时间</th>
                    <th>作业内容</th>
                    <th>分数</th>
                    <th>评论</th>
                </tr>
                  {% for task in tasks %}
                    <tr href="/task/">
                        <td>{{ task.name }}</td>
                        <td>{{ task.submit_time }}</td>
{#                        <td ><a href="/media/{{ task.server_path }}">{{ task.server_path}}</a></td>#}
                        {% if task.is_file %}
                        <td ><a href="/media/{{ task.server_path }}">{{ task.server_path}}</a></td>
                        {% else %}
                        <td>
                            <a  href="javascript:void(0);" data-placement="bottom" data-toggle="popover" data-content="{{ task.content  }}">
                                {{ task.content|slice:'25'  }}...
                        </a>
                        </td>
                        {% endif %}
                        <td>{{ task.grade }}</td>
                        <td>{{ task.comment }}</td>
                        {% if allow_upload %}
                        <td>
                            <button value="remove"  id="{{ task.id }} "class="btn btn-warning" data-widget="remove" data-toggle="tooltip" title data-original-title="Remove" >
                            <i class="fa fa-times"></i>
                            </button>
                        </td>
                    {% endif %}
                    </tr>
                  {% endfor %}

           </table>
       </div>

{% endblock %}

