<!-- /.box-header -->
 {% extends "teacher.html" %}
   {% block content %}
       <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                  <th>课程序号</th>
                  <th>课程名</th>
                  <th>上课时间</th>
                  <th>是否允许团体选课</th>
                </tr>
                  <th>课程简介</th>
                  {% for course in courses %}
                    <tr href="/course/">
                        <td>{{ course.id }}</td>
                        <td><a href="/course/{{course.id  }}">{{ course.name }}</a></td>
                        <td>{{ course.start_date }}--{{ course.end_date }}</td>
                        {% ifequal course.is_single 1 %}
                            <td><span class="label label-success">允许</span></td>
                        {% endifequal %}
                        {% ifequal course.is_single 0 %}
                            <td><span class="label label-primary">不允许</span></td>
                        {% endifequal %}
                        <td>{{ course.introduction }}</td>
                    </tr>
                  {% endfor %}

           </table>
       </div>
            <!-- /.box-body -->
    {% endblock %}