<!-- /.box-header -->
 {% extends "teacher.html" %}
   {% block content %}
       <div class="box-body table-responsive no-padding">
           <table class="table table-striped" id="table1">
           <thead>
                <tr>
                  <th>#</th>
                  <th>课程名</th>
                  <th>上课时间</th>
                  <th>是否允许团体选课</th>
                    <th>课程简介</th>
                     <th>进入课程</th>
                </tr>
                </thead>
                 <tbody>
                  {% for course in courses %}
                    <tr href="/course/">
                        <td>{{ forloop.counter  }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.start_date }}--{{ course.end_date }}</td>
                        {% ifequal course.is_single 0 %}
                            <td><span class="label label-success">允许</span></td>
                        {% endifequal %}
                        {% ifequal course.is_single 1 %}
                            <td><span class="label label-warning">不允许</span></td>
                        {% endifequal %}
                        <td>
                            <a  href="javascript:void(0);" data-placement="bottom" data-toggle="popover" data-content="{{ course.introduction  }}">
                                {{ course.introduction|slice:'25'  }}
                            </a>
                        </td>
                        <td><a  href="/teacher/course/{{course.id  }}" class = "btn btn-block btn-primary" >查看详情</a></td>
                    </tr>

                  {% endfor %}
                </tbody>
           </table>
       </div>

       <script>$(function ()
      { $("[data-toggle='popover']").popover();
      });

       $(function () {
    set_table("table1");
  });
   </script>

            <!-- /.box-body -->
    {% endblock %}