{% extends "teacher_course.html" %}

{% block content %}

    {% ifequal finish  0 %}
        <div class="box box-info">
        <div class="box-body">
            <div class="col-md-4">
             <input class="btn btn-primary" type="button"  value="发布新资源" onclick="javascript:window.location.href='/teacher/course/resource_publish'">
            </div>
             <div class="col-md-8">
                 <div class="input-group" style="float:right">
                     <input id="new_class" class="form-control" type="text" placeholder="例如：压缩文件">
                     <span class="input-group-btn">
                            <input id="save_class" class="btn btn-primary" type="button"  value="添加分类" >
                            <input id="delete_class" class="btn btn-danger" type="button"  value="删除分类" >
                     </span>
                </div>
             </div>
        </div>



        </div>
    {% endifequal %}
    {% ifequal  finish 1 %}
              <div class="callout callout-warning" style="margin-bottom: 10!important;">
                <h4><i class="fa fa-info"></i> 提示信息:</h4>
                该课程已结束，无法发布资源
                </div>
    {% endifequal %}
    <div class="box-body table-responsive no-padding" style="overflow-x: hidden">
           <table class="table table-striped" id="table1" style="overflow-x: hidden">
           <thead>
                <tr>
                  <th>#</th>
                  <th>资源描述</th>
                    <th>文件名</th>
                    <th>所在分类</th>
                    <th>上传时间</th>
                     <th>操作</th>
                </tr>
           </thead>
           <tbody>
                  {% for resource in resources %}
                    <tr href="/teacher/resource/">
                        <td>{{ forloop.counter  }}</td>
                        <td>{{ resource.name }}</td>
                        <td> {{ resource.server_path }}</td>
                        <td>
                            <select class="form-control" style="max-width: 100px" id="{{resource.id}}">
                      {% for t in resource_classes %}
                          {% ifequal t.id resource.resource_class.id %}
                               <option value="{{ t.id }}" selected="selected">{{ t.name }}</option>
                          {% endifequal %}
                          {% ifnotequal t.id resource.resource_class.id %}
                               <option value="{{ t.id }}">{{ t.name }}</option>
                          {% endifnotequal %}

                      {% endfor %}
                  </select>
                        </td>
                        <td>{{ resource.submit_time}}</td>
                        <td>
                            <div class="btn-group">
                      <input class="btn btn-info" type="button"  value="下载" onclick="javascript:window.location.href='/media/{{ resource.server_path }}'">
                      <input type="button"  value="删除"  id="{{ resource.id }}" class="btn btn-danger" data-widget="remove" data-toggle="tooltip" title data-original-title="Remove" > </input>
                         </div>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
           </table>
       </div>


<script>
 $(function () {
        $("select").bind('change', function () {

            $.ajax(
                  {
                      url: "/teacher/course/resource_class/",
                      type: "POST",
                      data: {
                          "resource_id": $(this).attr('id'),
                          "resource_class": $(this).val()
                      },
                      dataType:"json",
                      success: function (data) {
                          if ( data==true ) {
                              alert("修改并保存成功");
                          } else {
                              alert("修改失败");
                          }
                      },
                      error: function () {
                          alert("连接失败");
                      }
                  });
        });

        });

 $(function () {
        $("#save_class").bind('click', function () {
            if ( $("#new_class").val().length<=0){
                alert("请输入新分类");
            }
            else{
            $.ajax(
                  {
                      url: "/teacher/course/resource_class_add/",
                      type: "POST",
                      data: {
                          "resource_class_name": $("#new_class").val()
                      },
                      dataType:"json",
                      success: function (data) {
                          if (data == true) {
                              alert("修改并保存成功");
                              window.location.reload();
                          } else {
                              alert("修改失败");
                          }
                      },
                      error: function () {
                          alert("连接失败");
                      }
                  });
            }
        });
        });

 $(function () {
        $("#delete_class").bind('click', function () {
            if ( $("#new_class").val().length<=0){
                alert("请输入新分类");
            }
            else{
            $.ajax(
                  {
                      url: "/teacher/course/resource_class_delete/",
                      type: "POST",
                      data: {
                          "resource_class_name": $("#new_class").val()
                      },
                      dataType:"json",
                      success: function (data) {
                          if (data == true) {
                              alert("删除成功");
                              window.location.reload();
                          } else {
                              alert("修改失败");
                          }
                      },
                      error: function () {
                          alert("连接失败");
                      }
                  });
            }
        });
        });

        $(function () {
        $("input[type='button'][value='删除']").bind('click', function () {
                $.ajax(
                        {
                            url: "/teacher/course/resourcedelete/",
                            type: "POST",
                            data: {
                                "resourceid": $(this).attr("id"),
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data == true) {
                                    alert("删除成功!");
                                    window.location.reload();
                                }
                                else {
                                    alert("删除失败!");
                                }
                            },
                            error: function () {
                                alert("删除失败");
                            }
                        });
        });
        });
    $(function () {
    set_table("table1");
  });
</script>
{% endblock %}


