{% extends "teacher_course.html" %}

{% block content %}

    {% ifequal finish  0 %}
        <div>
            <input class="btn btn-primary" type="button"  value="发布新资源" onclick="javascript:window.location.href='/teacher/course/resource_publish'">
            <input id="new_class" style="margin-left: 50%" type="text" placeholder="例如：压缩文件">

            <input id="save_class" class="btn btn-primary" type="button"  value="添加分类" >
        </div>
    {% endifequal %}
    {% ifequal  finish 1 %}
              <div class="callout callout-warning" style="margin-bottom: 0!important;">
                <h4><i class="fa fa-info"></i> 提示信息:</h4>
                该课程已结束，无法发布资源
                </div>
    {% endifequal %}
    <div class="box-body table-responsive no-padding">
           <table class="table table-hover">
                <tr>
                  <th>#</th>
                  <th>资源名称</th>
                    <th>所在分类</th>
                    <th>上传时间</th>
                </tr>
                  {% for resource in resources %}
                    <tr href="/teacher/resource/">
                        <td>{{ resource.id }}</td>
                        <td><a href="/teacher/resource/{{resource.id  }}">{{ resource.name }}</a></td>
                        <td>
                            <select class="form-control" style="max-width: 100px" id="{{resource.id}}">
                      {% for t in resource_classes %}
                          {% ifequal t.id resource.resource_class.id %}
                               <option value="{{ t.id }}" selected="selected">{{ t.name }}</option>
                          {% endifequal %}
                          {% ifnotequal t.id resource.resource_class.id %}
                               <option value="{{ t.id }}">{{ t.name }}</option>
                          {% endifnotequal %}

                      {% endfor %}
                  </select>
                        </td>
                        <td>{{ resource.submit_time}}</td>
                        <td>
                                    <button value="remove"  id="{{ resource.id }}" class="btn btn-warning" data-widget="remove" data-toggle="tooltip" title data-original-title="Remove" >
                                    <i class="fa fa-times"></i>
                                    </button>
                        </td>
                    </tr>
                  {% endfor %}
           </table>
       </div>


<script>
 $(function () {
        $("select").bind('change', function () {

            $.ajax(
                  {
                      url: "/teacher/course/resource_class/",
                      type: "POST",
                      data: {
                          "resource_id": $(this).attr('id'),
                          "resource_class": $(this).val()
                      },
                      dataType:"json",
                      success: function (data) {
                          if ( data==true ) {
                              alert("修改并保存成功");
                          } else {
                              alert("修改失败");
                          }
                      },
                      error: function () {
                          alert("连接失败");
                      }
                  });
        });

        });

 $(function () {
        $("#save_class").bind('click', function () {
            if ( $("#new_class").val().length<=0){
                alert("请输入新分类");
            }
            else{
            $.ajax(
                  {
                      url: "/teacher/course/resource_class_add/",
                      type: "POST",
                      data: {
                          "resource_class_name": $("#new_class").val()
                      },
                      dataType:"json",
                      success: function (data) {
                          if (data == true) {
                              alert("修改并保存成功");
                              window.location.reload();
                          } else {
                              alert("修改失败");
                          }
                      },
                      error: function () {
                          alert("连接失败");
                      }
                  });
            }
        });
        });

        $(function () {
        $("button[value='remove']").bind('click', function () {
                $.ajax(
                        {
                            url: "/teacher/course/resourcedelete/",
                            type: "POST",
                            data: {
                                "resourceid": $(this).attr("id"),
                            },
                            dataType: "json",
                            success: function (data) {
                                if (data == true) {
                                    alert("删除成功!");
                                    window.location.reload();
                                }
                                else {
                                    alert("删除失败!");
                                }
                            },
                            error: function () {
                                alert("删除失败");
                            }
                        });
        });
        });
</script>
{% endblock %}


