{% extends "teacher_course.html" %}
{% block content %}
    <form method="post" action="/teacher/course/task_publish/">
    <div class="col-md-6">
    <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">作业名称</h3>
            </div>
            <div class="box-body">
              <input class="form-control input-lg" name="name" type="text" placeholder="作业名称">
            </div>
            <!-- /.box-body -->
    </div>
  <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">起始日期</h3>
            </div>
            <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" name="start" class="form-control pull-right" id="start">
            </div>
            <!-- /.box-body -->
    </div>
    <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">截止日期</h3>
            </div>
            <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <input type="text" name="end" class="form-control pull-right" id="end">
            </div>
            <!-- /.box-body -->
    </div>
            <div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">作业要求</h3>
            </div>
            <div class="box-body">
              <input class="form-control input-lg" name="requirements" type="text" placeholder="作业要求">
            </div>
            <!-- /.box-body -->
    </div>
    <button type="submit" class="btn bg-olive margin">提交</button>
    </div>
</form>
<script>
    //Date range picker
   // $('#reservation').daterangepicker();
 $('#start').datepicker({
      autoclose: true
    });
 $('#end').datepicker({
      autoclose: true
    });
    </script>
{% endblock %}