 {% extends "main_template.html" %}
   {% block sidebar %}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">菜单</li>
        <!-- Optionally, you can add icons to the links -->
          <li id="list1">
            <a href="/teacher/info/"><i class="fa fa-graduation-cap"></i> <span>我的信息</span></a>
          </li>
          <li id="list2">
            <a href="/teacher/course/"><i class="fa fa-book"></i> <span>我的课程</span></a>
          </li>
      </ul>
      <!-- /.sidebar-menu -->
    {% endblock %}
