{% extends "main_template.html" %}

{% block content %}

<script src="/static/plugins/cropper/cropper.min.js"></script>
<script src="/static/plugins/cropper/sitelogo.js"></script>
<link rel="stylesheet" href="/static/plugins/cropper/cropper.min.css" type="text/css" />
<link rel="stylesheet" href="/static/plugins/cropper/sitelogo.css" type="text/css" />

<div class="col-md-6">
<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">个人信息</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" method="post" id="form1" action="/save_info/">
            <input type="hidden" name="t_id" id="cid" value="{{ course.id }}">
              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">登录名</label>
                  <div class="col-sm-10">
                    <label class=" control-label">{{ user.name }}</label>
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">密码</label>
                  <div class="col-sm-10">
                      <button type="button" class="btn btn-primary" onclick="changePassword()">修改密码</button>
                  </div>
                </div>
              </div>
                              <div class="box-body">
                <div class="form-group">
                  <label class="col-sm-2 control-label">真实姓名</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" name='realname' id="realname" value="{{ user.real_name }}">
                  </div>
                </div>
              </div>

              <!-- /.box-body -->

              <!-- /.box-footer -->
            </form>
             <div class="box-footer">
                <button type="button" class="btn btn-primary" onclick="saveInfo()">保存修改</button>
              </div>
          </div>
</div>
<div class="col-md-6">
        <div class="ibox-content">
		<div class="row">
			<div id="crop-avatar" class="col-md-6">
				<div class="avatar-view" title="更改头像">
			    	<img src=
                {% if user and user.pic != '' %}
                     "{{ user.pic }}"
                {% else %}
                    "/static/dist/img/default.jpg"
                {% endif %}
                                 alt="Avatar">
			    </div>
			</div>
		</div>
	</div>

<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form class="avatar-form" action="/save_info/" enctype="multipart/form-data" method="post">
				<div class="modal-header">
					<button class="close" data-dismiss="modal" type="button">&times;</button>
					<h4 class="modal-title" id="avatar-modal-label">更改头像</h4>
				</div>
				<div class="modal-body">
					<div class="avatar-body">
						<div class="avatar-upload">
							<input class="avatar-src" name="avatar_src" type="hidden">
							<input class="avatar-data" name="avatar_data" type="hidden">
							<label for="avatarInput">图片上传</label>
							<input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
						<div class="row">
							<div class="col-md-9">
								<div class="avatar-wrapper"></div>
							</div>
							<div class="col-md-3">
								<div class="avatar-preview preview-lg"></div>
								<div class="avatar-preview preview-md"></div>
								<div class="avatar-preview preview-sm"></div>
							</div>
						</div>
						<div class="row avatar-btns">
							<div class="col-md-9">
                                <!--
								<div class="btn-group">
									<button class="btn" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转</button>
								</div>
								<div class="btn-group">
									<button class="btn" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转</button>
								</div>
								-->
							</div>
							<div class="col-md-3">
								<button class="btn btn-success btn-block avatar-save" type="submit"><i class="fa fa-save"></i> 保存修改</button>
							</div>
						</div>
					</div>
				</div>
  		</form>
  	</div>
  </div>
</div>

<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

</div>


<script>
 function changePassword(){
     self.location.href="/change_password/";
 }
function saveInfo(){
    $('#form1').submit();
}
</script>
{% endblock %}



